<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="URL" value="http://automationpractice.com" />
    <add key="DriverType" value="Chrome" />
    <add key="UserName" value="anandtest@test.com" />
    <add key="Password" value="test123" />
  </appSettings>
</configuration>